blockquote {
  font-size: 0.8rem
}

body {
  font-size: 21px /*body and html selectors are usually grouped in a single rule*/
}

caption {
  font-size: 0.8 rem
}

code {
  font-size: 0.8rem
}

.emphasis-blockquote {
  font-size: 1.2rem
}

figcaption {
  font-size: 0.8rem
}

h1 {
  font-size: 2rem
}

h2 {
  font-size: 1.5rem
}

h3 {
  font-size: 1.25rem
}

h4 {
  font-size: 0.9rem
}

h5 {
  font-size: 0.9rem
}

h6 {
  font-size: 0.9rem
}

input {
  font-size: 0.8rem  
}

label {
  font-size: 0.7rem
}

html {
  font-size: 21px /*body and html selectors are usually grouped in a single rule*/
}

.meta {
  font-size: 0.9rem
}

ol {
  font-size: 0.8rem
}

p {
  font-size: 1rem
}

pre {
  font-size: 0.8rem
}

.read-more-text{
  font-size: 0.9rem
}

.title {
  font-size: 2rem
}

ul {
  font-size: 0.8rem
}
